<div class="scene-container" 
    (pointerdown)="onPointerDown($event)"
    (pointermove)="onPointerMove($event)"
    (pointerup)="onPointerUp($event)"
>
    <ngt-canvas 
        [camera]="{
            position:[2,0,3],
            fov:75
        }"
    >
        <ng-template canvasContent>
    
            <app-three-angular-scene 
                (screenPositionChange)="onScreenPositionChange($event)" 
                [cameraAngle]="cameraAngle()"
                [cameraVerticalAngle]="cameraVerticalAngle()"
            />
    
        </ng-template>
    </ngt-canvas>
    
    @if (screenPosition();as position) {
        <div class="html-marker"
            [style.left.px]="position[0]"
            [style.top.px]="position[1]"
        ></div>
    }
</div>
