<div class="scene-container" 
    (pointerdown)="onPointerDown($event)"
    (pointermove)="onPointerMove($event)"
    (pointerup)="onPointerUp($event)"
>
    <ngt-canvas 
        [camera]="{
            position:[2,0,3],
            fov:75
        }"
    >
        <ng-template canvasContent>
            <app-three-angular-scene  
                [cameraAngle]="cameraAngle()"
                [cameraVerticalAngle]="cameraVerticalAngle()"
                [hotspots]="hotspots"
                [hotspotElements]="hotspotElementMap()"
            />
        </ng-template>
    </ngt-canvas>
    
    <div class="hotspot-wrapper">
        @for (hotspot of hotspots; track hotspot.id) {
            <button #hotspotElement class="html-marker"
                [attr.data-hotspot-id]="hotspot.id"
                [attr.aria-label]="hotspot.title"
            >
                <span class="html-marker_dot"></span>
                <span class="html-marker_label">{{hotspot.title}}</span>
            </button>
        }
    </div>
</div>
