<ngt-ambient-light [intensity]="0.2" />
<ngt-directional-light [position]="[2,3,5]" [intensity]="2" />

<ngt-group #groupA >
    <ngt-group #groupB [scale]="[2, 2, 2]">
        <ngt-mesh [position]="[0, 0, 0]">
            <ngt-box-geometry />
            <ngt-mesh-standard-material 
                [color]="green"
                [roughness]="0.3"
                [metalness]="0.5"
            />
        </ngt-mesh>

        @for (hotspot of hotspots(); track hotspot.id) {
            <ngt-mesh [position]="hotspot.position">
                <ngt-sphere-geometry *args="[0.1,6,6]" />
                <ngt-mesh-standard-material [color]="'#ff0000'" />
            </ngt-mesh>
        }
    </ngt-group>
</ngt-group>

