<!-- <ngt-hemisphere-light *args="['#ffffff','#666666',1.5]" /> -->
<ngt-ambient-light [intensity]="0.2" />
<ngt-directional-light [position]="[3,4,5]" [intensity]="2" />
<ngt-directional-light [position]="[-4,1,2]" [intensity]="1" />
<ngt-directional-light [position]="[0,3,-4]" [intensity]="0.4" />

<ngt-group #modelRoot 
    (pointerdown)="onModelPointerDown($event)"
    (pointermove)="onModelPointerMove($event)"
    (pointerup)="onModelPointerUp($event)"
>
    @if (gltf.value(); as gltf) {
        <ngt-primitive *args="[gltf.scene]" />
    }
</ngt-group>

<ngts-orbit-controls 
    #orbitControls
    [options]="{
        makeDefault:true,
        target:[0,0,0],
        minDistance:0.5,
        maxDistance:8,
        minPolarAngle:Math.PI/4,
        maxPolarAngle:Math.PI*3/4,
        enableDamping:true,
        dampingFactor:0.05,
        enableZoom:false,
        enablePan:true
    }"
/>

